/* This makes all the <p> elements have a green background and white text */
/* p {
   background-color: green;
   color: white;
} */

/* use id of the element to style it specifically */
p#wd-id-selector-1 {
  background-color: red;
  color: white;
}
p#wd-id-selector-2 {
  background-color: yellow;
  color: black;
}

/* use class selectors */
.wd-class-selector {
  background-color: yellow;
  color: blue;
}

.wd-selector-1 .wd-selector-3 {
   background-color: red;
   color: white; }
.wd-selector-2 > .wd-selector-3 > .wd-selector-4 {
   background-color: yellow;
   color: blue;  }